# Setup

In [3]:
import os

import pandas as pd
pd.set_option("display.max_columns", None)

AIRBNB_PATH = os.path.join("data", "airbnb")

def load_airbnb_raw_data(airbnb_path=AIRBNB_PATH, engine="openpyxl"):
    raw_data_path = os.path.join(airbnb_path, "airbnb_raw_data.xlsx")
    return pd.read_excel(raw_data_path, engine=engine)

def load_data_from_csv_file(file_name, airbnb_path=AIRBNB_PATH):
    path = os.path.join(airbnb_path, file_name)
    return pd.read_csv(path)

def save_to_csv(df, file_name, airbnb_path=AIRBNB_PATH):
    path = os.path.join(airbnb_path, file_name)
    return df.to_csv(path, index=False)

# Data Cleaning

In [4]:
airbnb = load_airbnb_raw_data()
airbnb.head()

,host_is_superhost,cancellation_policy,instant_bookable,host_total_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price,bedrooms_na,bathrooms_na,beds_na,review_scores_rating_na,review_scores_accuracy_na,review_scores_cleanliness_na,review_scores_checkin_na,review_scores_communication_na,review_scores_location_na,review_scores_value_na
0,t,moderate,t,1.0,Western Addition,3776931.0,-12243386.0,Apartment,Entire home/apt,3.0,1.0,1.0,2.0,Real Bed,1.0,180.0,97.0,10.0,10.0,10.0,10.0,10.0,10.0,170.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,f,strict_14_with_grace_period,f,2.0,Bernal Heights,3774511.0,-12242102.0,Apartment,Entire home/apt,5.0,1.0,2.0,3.0,Real Bed,30.0,111.0,98.0,10.0,10.0,10.0,10.0,10.0,9.0,235.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,f,strict_14_with_grace_period,f,10.0,Haight Ashbury,3776669.0,-1224525.0,Apartment,Private room,2.0,4.0,1.0,1.0,Real Bed,32.0,17.0,85.0,8.0,8.0,9.0,9.0,9.0,8.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,f,strict_14_with_grace_period,f,10.0,Haight Ashbury,3776487.0,-12245183.0,Apartment,Private room,2.0,4.0,1.0,1.0,Real Bed,32.0,8.0,93.0,9.0,9.0,10.0,10.0,9.0,9.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,f,strict_14_with_grace_period,f,2.0,Western Addition,3777525.0,-12243637.0,House,Entire home/apt,5.0,2022-05-01 00:00:00,2.0,2.0,Real Bed,7.0,27.0,97.0,10.0,10.0,10.0,10.0,10.0,9.0,785.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7146 entries, 0 to 7145
Data columns (total 34 columns):
host_is_superhost                 7146 non-null object
cancellation_policy               7146 non-null object
instant_bookable                  7146 non-null object
host_total_listings_count         7146 non-null float64
neighbourhood_cleansed            7146 non-null object
latitude                          7146 non-null float64
longitude                         7146 non-null float64
property_type                     7146 non-null object
room_type                         7146 non-null object
accommodates                      7146 non-null float64
bathrooms                         7146 non-null object
bedrooms                          7146 non-null float64
beds                              7146 non-null float64
bed_type                          7146 non-null object
minimum_nights                    7146 non-null float64
number_of_reviews                 7146 non-null float64
review_scores_rating              7146 non-null float64
review_scores_accuracy            7146 non-null float64
review_scores_cleanliness         7146 non-null float64
review_scores_checkin             7146 non-null float64
review_scores_communication       7146 non-null float64
review_scores_location            7146 non-null float64
review_scores_value               7146 non-null float64
price                             7146 non-null float64
bedrooms_na                       7146 non-null float64
bathrooms_na                      7146 non-null float64
beds_na                           7146 non-null float64
review_scores_rating_na           7146 non-null float64
review_scores_accuracy_na         7146 non-null float64
review_scores_cleanliness_na      7146 non-null float64
review_scores_checkin_na          7146 non-null float64
review_scores_communication_na    7146 non-null float64
review_scores_location_na         7146 non-null float64
review_scores_value_na            7146 non-null float64
dtypes: float64(26), object(8)
memory usage: 1.9+ MB

In [6]:
airbnb.describe()

,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price,bedrooms_na,bathrooms_na,beds_na,review_scores_rating_na,review_scores_accuracy_na,review_scores_cleanliness_na,review_scores_checkin_na,review_scores_communication_na,review_scores_location_na,review_scores_value_na
count,7146.000000,7.146000e+03,7.146000e+03,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000
mean,52.604954,3.430809e+06,-1.114719e+07,3.201092,1.342709,1.764484,15.817800,43.553876,96.034285,9.820319,9.699552,9.895886,9.872796,9.719144,9.524349,213.309824,0.000280,0.002939,0.000980,0.198853,0.199412,0.199272,0.199692,0.199132,0.199692,0.199832
std,177.428653,1.033566e+06,3.319669e+06,1.914916,0.932855,1.176789,22.511624,72.538481,6.286139,0.601990,0.703877,0.448704,0.522599,0.659253,0.751603,311.375499,0.016728,0.054134,0.031285,0.399165,0.399586,0.399481,0.399797,0.399376,0.399797,0.399902
min,0.000000,3.772000e+01,-1.225131e+07,1.000000,0.000000,0.000000,1.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,3.774272e+06,-1.224408e+07,2.000000,1.000000,1.000000,2.000000,1.000000,95.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,3.776318e+06,-1.224227e+07,2.000000,1.000000,1.000000,4.000000,11.000000,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,150.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,3.778220e+06,-1.224077e+07,4.000000,2.000000,2.000000,30.000000,54.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,235.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1199.000000,3.781031e+06,-1.223900e+02,16.000000,14.000000,14.000000,365.000000,677.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
all_columns = list(airbnb.columns)

columns_to_drop = []
for column in all_columns:
    if column.endswith("_na"):
        columns_to_drop.append(column)

print(columns_to_drop)

['bedrooms_na', 'bathrooms_na', 'beds_na', 'review_scores_rating_na', 'review_scores_accuracy_na', 'review_scores_cleanliness_na', 'review_scores_checkin_na', 'review_scores_communication_na', 'review_scores_location_na', 'review_scores_value_na']

In [8]:
airbnb.drop(columns_to_drop, axis=1, inplace=True)
airbnb.head()

,host_is_superhost,cancellation_policy,instant_bookable,host_total_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
0,t,moderate,t,1.0,Western Addition,3776931.0,-12243386.0,Apartment,Entire home/apt,3.0,1.0,1.0,2.0,Real Bed,1.0,180.0,97.0,10.0,10.0,10.0,10.0,10.0,10.0,170.0
1,f,strict_14_with_grace_period,f,2.0,Bernal Heights,3774511.0,-12242102.0,Apartment,Entire home/apt,5.0,1.0,2.0,3.0,Real Bed,30.0,111.0,98.0,10.0,10.0,10.0,10.0,10.0,9.0,235.0
2,f,strict_14_with_grace_period,f,10.0,Haight Ashbury,3776669.0,-1224525.0,Apartment,Private room,2.0,4.0,1.0,1.0,Real Bed,32.0,17.0,85.0,8.0,8.0,9.0,9.0,9.0,8.0,65.0
3,f,strict_14_with_grace_period,f,10.0,Haight Ashbury,3776487.0,-12245183.0,Apartment,Private room,2.0,4.0,1.0,1.0,Real Bed,32.0,8.0,93.0,9.0,9.0,10.0,10.0,9.0,9.0,65.0
4,f,strict_14_with_grace_period,f,2.0,Western Addition,3777525.0,-12243637.0,House,Entire home/apt,5.0,2022-05-01 00:00:00,2.0,2.0,Real Bed,7.0,27.0,97.0,10.0,10.0,10.0,10.0,10.0,9.0,785.0

In [9]:
bathrooms = load_data_from_csv_file("bathrooms_airbnb.csv")
bathrooms.head()

   bathrooms
0        1.0
1        1.0
2        4.0
3        4.0
4        1.5

In [10]:
airbnb["bathrooms"] = bathrooms["bathrooms"]
airbnb.head()

,host_is_superhost,cancellation_policy,instant_bookable,host_total_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
0,t,moderate,t,1.0,Western Addition,3776931.0,-12243386.0,Apartment,Entire home/apt,3.0,1.0,1.0,2.0,Real Bed,1.0,180.0,97.0,10.0,10.0,10.0,10.0,10.0,10.0,170.0
1,f,strict_14_with_grace_period,f,2.0,Bernal Heights,3774511.0,-12242102.0,Apartment,Entire home/apt,5.0,1.0,2.0,3.0,Real Bed,30.0,111.0,98.0,10.0,10.0,10.0,10.0,10.0,9.0,235.0
2,f,strict_14_with_grace_period,f,10.0,Haight Ashbury,3776669.0,-1224525.0,Apartment,Private room,2.0,4.0,1.0,1.0,Real Bed,32.0,17.0,85.0,8.0,8.0,9.0,9.0,9.0,8.0,65.0
3,f,strict_14_with_grace_period,f,10.0,Haight Ashbury,3776487.0,-12245183.0,Apartment,Private room,2.0,4.0,1.0,1.0,Real Bed,32.0,8.0,93.0,9.0,9.0,10.0,10.0,9.0,9.0,65.0
4,f,strict_14_with_grace_period,f,2.0,Western Addition,3777525.0,-12243637.0,House,Entire home/apt,5.0,1.5,2.0,2.0,Real Bed,7.0,27.0,97.0,10.0,10.0,10.0,10.0,10.0,9.0,785.0

In [11]:
airbnb["latitude"] = airbnb["latitude"] / 100000
airbnb["longitude"] = airbnb["longitude"] / 100000

In [12]:
columns_to_integer = {
    "host_total_listings_count": "int",
    "accommodates": "int",
    "bathrooms": "int",
    "bedrooms": "int",
    "beds": "int",
    "minimum_nights": "int",
    "number_of_reviews": "int",
}

airbnb = airbnb.astype(columns_to_integer)
airbnb.head()

,host_is_superhost,cancellation_policy,instant_bookable,host_total_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
0,t,moderate,t,1,Western Addition,37.76931,-122.43386,Apartment,Entire home/apt,3,1,1,2,Real Bed,1,180,97.0,10.0,10.0,10.0,10.0,10.0,10.0,170.0
1,f,strict_14_with_grace_period,f,2,Bernal Heights,37.74511,-122.42102,Apartment,Entire home/apt,5,1,2,3,Real Bed,30,111,98.0,10.0,10.0,10.0,10.0,10.0,9.0,235.0
2,f,strict_14_with_grace_period,f,10,Haight Ashbury,37.76669,-12.24525,Apartment,Private room,2,4,1,1,Real Bed,32,17,85.0,8.0,8.0,9.0,9.0,9.0,8.0,65.0
3,f,strict_14_with_grace_period,f,10,Haight Ashbury,37.76487,-122.45183,Apartment,Private room,2,4,1,1,Real Bed,32,8,93.0,9.0,9.0,10.0,10.0,9.0,9.0,65.0
4,f,strict_14_with_grace_period,f,2,Western Addition,37.77525,-122.43637,House,Entire home/apt,5,1,2,2,Real Bed,7,27,97.0,10.0,10.0,10.0,10.0,10.0,9.0,785.0

In [13]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7146 entries, 0 to 7145
Data columns (total 24 columns):
host_is_superhost              7146 non-null object
cancellation_policy            7146 non-null object
instant_bookable               7146 non-null object
host_total_listings_count      7146 non-null int32
neighbourhood_cleansed         7146 non-null object
latitude                       7146 non-null float64
longitude                      7146 non-null float64
property_type                  7146 non-null object
room_type                      7146 non-null object
accommodates                   7146 non-null int32
bathrooms                      7146 non-null int32
bedrooms                       7146 non-null int32
beds                           7146 non-null int32
bed_type                       7146 non-null object
minimum_nights                 7146 non-null int32
number_of_reviews              7146 non-null int32
review_scores_rating           7146 non-null float64
review_scores_accuracy         7146 non-null float64
review_scores_cleanliness      7146 non-null float64
review_scores_checkin          7146 non-null float64
review_scores_communication    7146 non-null float64
review_scores_location         7146 non-null float64
review_scores_value            7146 non-null float64
price                          7146 non-null float64
dtypes: float64(10), int32(7), object(7)
memory usage: 1.1+ MB

In [14]:
airbnb.describe()

,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
count,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000,7146.000000
mean,52.604954,34.308087,-111.471936,3.201092,1.276798,1.342709,1.764484,15.817800,43.553876,96.034285,9.820319,9.699552,9.895886,9.872796,9.719144,9.524349,213.309824
std,177.428653,10.335662,33.196695,1.914916,0.771110,0.932855,1.176789,22.511624,72.538481,6.286139,0.601990,0.703877,0.448704,0.522599,0.659253,0.751603,311.375499
min,0.000000,0.000377,-122.513060,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,10.000000
25%,1.000000,37.742722,-122.440840,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,95.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,100.000000
50%,2.000000,37.763175,-122.422695,2.000000,1.000000,1.000000,1.000000,4.000000,11.000000,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,150.000000
75%,8.000000,37.782200,-122.407680,4.000000,1.000000,2.000000,2.000000,30.000000,54.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,235.000000
max,1199.000000,37.810310,-0.001224,16.000000,14.000000,14.000000,14.000000,365.000000,677.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10000.000000

In [15]:
save_to_csv(airbnb, "airbnb_processed_data.csv")